*{
  margin: 0;
  padding: 0;
}
input,button{
  border: 0;
  padding: 3px 0;;
}
button:hover{
  cursor: pointer;
}
.py-5{
  padding: 10px 0;
}
.px-2{
  padding: 0 8px;
}
.gap-5{
  gap: 20px;
}
.gap-2{
  gap: 10px;
}
.-my-3 {
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
}

.ml-2 {
  margin-left: 10px;
}
.mr-2{
  margin-left: 48vw;
}
.m-c{
  margin-left: 24vw;
}
.mt-10 {
  margin-top: 2.5rem;
}

.flex {
  display: flex;
}

.h-\[11\%\] {
  height: 11%;
}

.h-\[8\%\] {
  height: 8%;
}

.h-\[81\%\] {
  height: 81%;
}

.h-\[91vh\] {
  height: 91vh;
}

.h-\[9vh\] {
  height: 9vh;
}

.h-full {
  height: 100%;
}

.w-1\/2 {
  width: 50%;
}

.w-24 {
  width: 6rem;
}

.w-3\/4 {
  width: 75%;
}

.w-full {
  width: 100%;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}


.rounded-lg {
  border-radius: 0.5rem;
}
.bg-white{
background-color: white;
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity, 1));
}

.bg-blue-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(9 108 108 / var(--tw-bg-opacity, 1));
}

.bg-green-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity, 1));
}

.bg-orange-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(253 186 116 / var(--tw-bg-opacity, 1));
}

.bg-purple-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(147 51 234 / var(--tw-bg-opacity, 1));
}

.bg-black{
  background-color: rgb(27, 27, 27);
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
#back{
position: absolute;
left:0;
}
#taskbar{
  position: relative;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.font-sans {
  font-family:'Times New Roman', Times, serif
}
.text-xl{
  font-size: 1.25rem;
  line-height: 2rem;
}
.text-2xl {
  font-size: 2.5rem;
  line-height: 2rem;
}

.font-bold {
  font-weight: 700;
}

.text-black {

  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-white {
 
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.hide{
  display: none;
}